.cover-img {
    background: url(../images/front.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.cover-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #00E0FF;
   opacity: 0.5;
   transition: font-size 0.5s;
}

.cover-text-child {
/*    visibility: hidden;
*/    transition: font-size 0.5s;
}

.cover-headline-text {
    font-family: lobster;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.5em;
}

.cover-location-text {
    font-family: lobster;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2em;
}

.cover-paragraph-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

.cover-input-parent {
    transition: visibility .4s;
    padding-top: 10px;
}

.cover-shortSum-text {

}

.info-parent {
    height: 25vh;
    font-family: raleway;
    background-color: #00E0FF;
    visibility: hidden;
    display: none;
}

.userInputErr {
    background: none;
    border: 0;
    outline: 0;
    transition: border 0.3s;
    text-align: center;
    border-bottom: 2px solid #d9534f;
    width: 9em;
}

.userInputErr:focus {
    border-bottom: solid 2px #00E0FF;
}

.userInputErr:focus::-webkit-input-placeholder {
    color: transparent;
}

.userInputErr:focus::-moz-placeholder {
    color: transparent;
}

.userInputErr::-moz-placeholder {
    color: #A6FFF2;
    font-size: 1em;
    font-family: Open Sans;
}

.userInputErr::-webkit-input-placeholder {
    color: #A6FFF2;
    font-size: 1em;
    font-family: Open Sans;
}


div.info-parent.container-fluid {
    padding: 0;
}

div.info-parent.container-fluid div.col-lg-12 {
    padding: 0;
}

.info-column {
    height: 25vh;
}

.info-desc-child, .info-weather-child, .info-temp-child {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E8FFE8;
}

.info-desc, .info-weather-icon {
    border-right: 1px solid #E8FFE8;

}

.wi-sunrise {
    font-size: 3em;
}

.userInput {
    background: none;
    border: 0;
    outline: 0;
    transition: border 0.3s;
    text-align: center;
    border-bottom: solid 2px #E8FFE8;
    width: 8em;
}

.userInputAfter {
    background: none;
    border: 0;
    outline: 0;
    transition: border 0.3s;
    text-align: center;
    border-bottom: solid 2px #E8FFE8;
    width: 13em;
}

.userInputAfter:focus {
    border-bottom: solid 2px #00E0FF;
    
}

.userInputAfter:focus::-webkit-input-placeholder {
    color: transparent;
}

.userInputAfter:focus::-moz-placeholder {
    color: transparent;
}

.userInputAfter::-moz-placeholder {
    color: #A6FFF2;
    font-size: 1em;
    font-family: Open Sans;
}

.userInputAfter::-webkit-input-placeholder {
    color: #A6FFF2;
    font-size: 1em;
    font-family: Open Sans;
}

.userInput:focus {
    border-bottom: solid 2px #00E0FF;
    
}

.userInput:focus::-webkit-input-placeholder {
    color: transparent;
}

.userInput:focus::-moz-placeholder {
    color: transparent;
}

.userInput::-moz-placeholder {
    color: #A6FFF2;
    font-size: 1em;
    font-family: Open Sans;
}

.userInput::-webkit-input-placeholder {
    color: #A6FFF2;
    font-size: 1em;
    font-family: Open Sans;
}

p.cover-paragraph-text {
    color: #E8FFE8;
}

.btn-input {
    margin-top: 5px;
}


button.btn-input.btn.btn-primary {
    background-color: #00E0FF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #27496d;
}

button.btn-input.btn.btn-primary:focus {
    outline: none;
}

button.btn-input.btn.btn-primary:hover {
    background-color: #417cb8
}

button.btn-input.btn.btn-primary:active {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
}

#geoToggle {
    height: 28px;
    width: 78px;
    margin: 0 auto;
}

.header-headline-text {
    font-family: lobster;
    text-align: center;
    color: #00E0FF;
    opacity: 0.5;
    margin-bottom: 0;
    font-size: 4em;

}

.header-parent {
    text-align: center;
}

.header-paragraph-text {
    font-size: 0.6em;
    color: #E8FFE8;
}

.flag {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 0;
}

.flag img {
    width: 100%;
}

.changeUnit {
    cursor: pointer;
}



